<div class="row justify-content-center sl">
  <form action="/filter">
    <div class="form-group">
      <select class="form-control form-control-lg" id="filter" name="filter" onchange="submit()" selected="{{filter}}">
        <option value="ALL" {{#ifEquals filter "ALL"}} selected {{/ifEquals}}>全部</option>
        <option value="fas fa-home" {{#ifEquals filter "fas fa-home"}} selected {{/ifEquals}}>家居物業</option>
        <option value="fas fa-shuttle-van" {{#ifEquals filter "fas fa-shuttle-van"}} selected {{/ifEquals}}>交通出行
        </option>
        <option value="fas fa-grin-beam" {{#ifEquals filter "fas fa-grin-beam"}} selected {{/ifEquals}}>休閒娛樂</option>
        <option value="fas fa-utensils" {{#ifEquals filter "fas fa-utensils"}} selected {{/ifEquals}}>餐飲食品</option>
        <option value="fas fa-pen" {{#ifEquals filter "fas fa-pen"}} selected {{/ifEquals}}>其他</option>
      </select>
    </div>
  </form>
</div>
<div class="row justify-content-center sl">
  <div class="totalAmount mt-4">
    <span style="font-size:30px;color:#35354F">總金額:</span>
    <p class="text-center" style="font-size: 80px; color:orangered" ;>{{totalAmount}}</p>
  </div>
</div>



<div class="container mt-5">
  <ul class="list-group">
    {{#each records}}
    <li class="list-group-item">
      <div class="row align-items-center">
        <div class="col" style="width: 150px;">
          <span class="" style="color:#838B8B;font-size: 100px">
            <i class="{{this.categoryName}}" style=" width: 200px;"></i>
          </span>
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-8">
          <div style="font-size: 17px; padding-center: 10px;">
            <h2 class="ml-2 list-name" style="color:#366578">{{this.name}}</h2>
            <h5 class="list-amount ml-2" style="color:#FF7F7F;">消費金額： {{this.amount}}
            </h5>
            <h5 class="ml-2 list-names" style="color:#8B8378">店家： {{this.merchant}}</h5>
            <small class="ml-2 list-date" style="color:#727374">消費日期： {{this.date}}</small>
          </div>
        </div>
        <div class="col">
          <a href="records/{{ this._id }}/edit" class="btn btn-secondary">修改</a>
          <form action="/records/{{this._id}}?_method=DELETE" method="POST"
            onsubmit="return confirm('確定刪除 {{this.name}} 嗎？')" style="display: inline;">
            <button class="btn btn-secondary ml-2" type="submit">刪除</button>
          </form>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>

<div class="container mt-4">
  <div class="row justify-content-center" style="padding-bottom:30px">
    <a class="btn btn-secondary" href="./records/new">新增支出</a>
  </div>
</div>