<div class="row justify-content-center sl">
  <form action="/filter">
    <div class="form-group">
      <select class="form-control form-control-lg" id="filter" name="filter" onchange="submit()" selected="{{filter}}">
        <option value="ALL" {{#ifEquals filter "ALL"}} selected {{/ifEquals}}>全部</option>
        <option value="fas fa-home" {{#ifEquals filter "fas fa-home"}} selected {{/ifEquals}}>家居物業</option>
        <option value="fas fa-shuttle-van" {{#ifEquals filter "fas fa-shuttle-van"}} selected {{/ifEquals}}>交通出行
        </option>
        <option value="fas fa-grin-beam" {{#ifEquals filter "fas fa-grin-beam"}} selected {{/ifEquals}}>休閒娛樂</option>
        <option value="fas fa-utensils" {{#ifEquals filter "fas fa-utensils"}} selected {{/ifEquals}}>餐飲食品</option>
        <option value="fas fa-pen" {{#ifEquals filter "fas fa-pen"}} selected {{/ifEquals}}>其他</option>
      </select>
    </div>
  </form>
</div>
<div class="row justify-content-center sl">
  <div class="totalAmount mt-4">
    <span style="font-size:larger;">總金額:</span>
    <p class="text-center" style="font-size: 80px; color:orangered" ;>{{totalAmount}}</p>
  </div>
</div>

<div class="container mt-5">
  <div class="list-group">

    {{#each records}}
    <li class="list-group-item">

      <i class="{{this.categoryName}}"></i>
      <div class="list-top">
        <p class="ml-2 list-name">{{this.name}}</p>
      </div>
      <div class="list-top">
        <p class="ml-2 list-name">店家： {{this.merchant}}</p>
      </div>

      <div class="list-bottom">
        <div class="ml-2 list-date">日期： {{this.date}}</div>

        <div class="list-right">
          <div class="list-amount ml-2">消費金額： {{this.amount}}</div>
        </div>
        <div class="list-button">
          <a href="records/{{ this._id }}/edit" class="btn btn-secondary">修改</a>
          <form action="/records/{{this._id}}?_method=DELETE" method="POST"
            onsubmit="return confirm('確定刪除 {{this.name}} 嗎？')" style="display: inline;">
            <button class="btn btn-secondary ml-2" type="submit">刪除</button>
          </form>
        </div>
    </li>

    {{/each}}

  </div>
</div>
<div class="row justify-content-center">
  <div class="mt-3">
    <a class="btn btn-secondary" href="./records/new">新增支出</a>
  </div>
</div>
</div>